.header {
  padding-top: var(--small);
  padding-bottom: var(--small);
  background-color: var(--secondary-dark);
}

.headerDiv {
  margin: 0 auto;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
