.button {
  border: 0;
  padding-top: 16px;
  padding-right: 24px;
  padding-bottom: 16px;
  padding-left: 24px;
  line-height: 1.1;
  border-width: 2px;
  border-style: solid;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;

  border-color: var(--primary-main);
  background-color: var(--primary-main);
  color: var(--common-light);
}

.button:hover {
  border-color: var(--primary-main);
  background-color: transparent;
  color: var(--primary-main);
}

.button:disabled {
  border-color: var(--text-dark);
  background-color: transparent;
  color: var(--text-dark);
  cursor: not-allowed;
}