.footer {
  padding-top: 32px;
  padding-bottom: 24px;
  text-align: center;
  font-size: 12px;
  background-color: var(--secondary-light);
  color: var(--text-main);
}

.footerDiv {
  margin: 0 auto;
  width: 80%;
}
